// mehriddin code start
@import"stayl.css";
*{
    margin: 0;
    font-family: 'Montserrat';
}
.ms-1{
    width: 100%;
    height: 15vh;
    background-color: #1A1A1A;
    color: #7C7C7C;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        padding: 20px 40px;
        margin: 1px;
        border-bottom:1px solid #7C7C7C;
    }
    a{
        text-decoration: none;
        color: #7C7C7C;
    }
    #ms-all2{
        color: #FFFBFB;
    }
    #ms-all1{
        border-bottom: 1px solid #FFFBFB;
    }
}
.ms-2{
    display: flex;
    flex-wrap: wrap;
    img{
        width: 33.33%;
    }
    .ms-2-1{
        width: 33.33%;
        background-image: url(./image/Rectangle\ 17\ \(1\).png);
        color: #FFF;
        text-align: center;
        font-size: 13px;
        a{
            text-decoration: none;
            color: #FFF;
        }
        h5{
            opacity: 0.7;
            margin-top: 80px;
        }
        h1{
            padding: 20px;
        }
        p{
            opacity: 0.7;
        }
        .ms-more{
            width: 50%;
            padding: 7px 0;
            margin: auto;
            display: flex;
            justify-content: space-evenly;
            h3{
                opacity: 0.7;
                padding: 0 10px;
                margin-top: 20px;
                border-left: 3px solid #FFF;
                border-right: 3px solid #FFF;
            }
        }
    }
}
.ms-down{
    width: 100%;
    height: 7vh;
    padding-top: 2.5vh;
    color: #FFF;
    text-align: center;
    background-color: #1A1A1A;
}
// mehriddin codde end
*{
    margin: 0;
}
body{
    background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(0, 0, 0, 0.16) 100%), #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
}
.a-but{
    width: 100%;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 50px;
    a{
        text-decoration: none;
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        color: black;
        letter-spacing: 0.35538em;
        border: 5px solid black;
        padding: 20px 30px 20px 30px;
    }
}
.a-p{
    font-size: 12px;
    width: 50%;
    margin: auto;
    text-align: center;
}
.a-img{
   display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 50px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .a-input{
        width: 33%;
        margin: auto;
        height: 5vh;
       background: inherit;
       border: 5px solid black;
       border-top: none;
       border-right: none;
       margin-bottom: 40px;
       outline: none;
    }
    .a-input::placeholder{
        padding-left: 10px;
    }
    .a-textarea{
        width: 33%;
        margin: auto;
        background: inherit;
        border: 5px solid black;
        border-top: none;
        border-right: none;
        margin-bottom: 40px;
        height: 120px;
        outline: none;
    }
    .a-textarea::placeholder{
        padding-left: 10px;
    }
    .sumbit{
        width: 10%;
        padding: 10px;
        height: 35px;
        margin: auto;
        background: inherit;
        margin-bottom: 40px;
        border: 3px solid black;
        border-top: none;
        border-bottom: none;
    }
}