*{
    margin: 0;
}
.ikskills p{
margin-left: 524px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
display: flex;
letter-spacing: 0.18538em;
}
.ikskill{
    margin-left: 533px;
    display: flex;
    margin-top: 82px;
    text-align: center;
}
.ikskill img{
    
    width: 100px;
    height: 100px;
}
.ik2{
    margin-right: 170px;
    margin-left: 136px;
}
.ik4{
    margin-left: 170px;
}
.Ik{
    padding-top: 60px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%), #FFFFFF;
mix-blend-mode: normal;
padding-bottom: 160px;
}
.Ik1{
    width: 100%;
    height: 321px;
    background-image: url(/image\ 12.png);
    background-repeat: no-repeat;
}
.ik8{
 border: 8px solid black;
width: 482px;
height: 74px;
left: 719px;
top: 123px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 38px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.43538em;

width: 482px;
height: 107px;
left: 719px;
top: 577px;
color: #000000;
}
.ik8 p{
    padding-left: 30px;
    padding-top: 60px;
}
#ika{
    border: 1px solid transparent;
   border-radius: 50%;
}
#ik{
    border: 1px solid transparent;
   border-radius: 50%;
}
@media (max-width: 382px;){
    .Ik{
        background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%), #FFFFFF;
    }
    .ikskills p{
width: 250px;
height: 74px;
left: 66px;
top: 1391px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 37px;
display: flex;
align-items: center;
letter-spacing: 0.18538em;

color: #000000;
    }
}